<%= simple_form_for @item do |f| %>            
  <%= f.input :title, label: "Todo", required: true, id: "font_colour" %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :expiryDate, label: "Expiry Date", as: :date %>
  <%= f.button :submit, 'submit' %>
<% end %>

<%
=begin %>
<div class = "background_form" >
  
</div>

<%= form_for @item do |f| %>            
  <%= f.text_field :title, label: "Todo" %>
  <%= f.text_field :description %>
  <%= f.submit 'submit' %>
<%
=end %>