<%-# enhanced for loop to output all items with title and description-%>

<% if user_signed_in? %>

    <div class="background-todo"> 
        <%= render 'menu' %>
        <br><br>

        <div style="margin-left:20%;">
            <!-- Button trigger modal -->
            <button type="button" class="button addTodo" data-toggle="modal" data-target="#exampleModalLong">
                Add Todo
            </button>

            <div class="search-box">
                <%= form_tag items_path, :method => 'get' do %>
                    <%= text_field_tag :search, params[:search], value: "" %>
                    <%= hidden_field_tag :type, params[:type], value: 1 %>
                    <%= button_tag type: 'submit' do %>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <% end %>
                <% end %>
            </div>
            
            <%= form_tag items_path, :method => 'get' do %>
                <%= hidden_field_tag :type, params[:type], value: 2 %>
                <%= select_tag(:search, options_for_select(["", "Show All"] | @categories), 
                onchange: "this.form.submit();") %>
            <% end %>

            <br><br>
            
            <div class="displayTodo">
                <table style="width:80%">
                    <tr>
                        <th>Title</th>
                        <th>Category</th>  
                        <th style="width:45%">Description</th> 
                        <th>Expiry</th>
                        <th>Status</th> 
                        <th style="width:4%"></th>
                        <th style="width:4%"></th>
                    </tr>

                    <% @expired.each do |item| %>
                        <tr>             
                            <td><%= link_to item.title, item %></td>
                            <td><%= item.category %></td>
                            <td><%=  if item.description.length > 50
                                        item.description[0..50].gsub(/\s\w+\s*$/, '...')
                                    else 
                                        item.description
                                    end
                            %></td>     
                            <td><%= item.expiryDate %></td>    
                            <td>expired</td>        
                            <td><%= link_to complete_item_path(item), method: :patch do %>
                                        <i class="fa fa-square-o fa-1x"></i>
                                <% end %></td>
                            <td><%= link_to item_path(item), method: :delete do %>
                                    <i class="fa fa-trash fa-1x"></i>
                                <%end%></td>  
                        </tr>
                    <% end %>
            
                    <% @onGoing.each do |item| %>
                        <tr> 
                            <td><%= link_to item.title, item %></td>   
                            <td><%= item.category %></td> 
                            <td><%= if item.description.length > 50
                                        item.description[0..50].gsub(/\s\w+\s*$/, '...')
                                    else 
                                        item.description
                                    end
                            %></td> 
                            <td><%= item.expiryDate %></td>           
                            <td>ongoing</td>     
                            <td><%= link_to complete_item_path(item), method: :patch do %>
                                        <i class="fa fa-square-o fa-1x"></i>
                                <% end %></td>     
                            <td><%= link_to item_path(item), method: :delete do %>
                                    <i class="fa fa-trash fa-1x"></i>
                                <%end%></td>                               
                        </tr>
                    <% end %>
                    
                    <% @completed.each do |item| %>
                        <tr> 
                            <td><strike><%= link_to item.title, item, id: "font-colour" %></strike></td>   
                            <td><%= item.category %></td>             
                            <td><%=  if item.description.length > 50
                                        item.description[0..50].gsub(/\s\w+\s*$/, '...')
                                    else 
                                        item.description
                                    end
                            %></td> 
                            <td><%= item.expiryDate %></td>  
                            <td>completed</td>  
                            <td><%= link_to undo_complete_item_path(item), method: :patch do %>
                                        <i class="fa fa-check-square-o fa-1x"></i>
                                <% end %></td>
                            <td><%= link_to item_path(item), method: :delete do %>
                                    <i class="fa fa-trash fa-1x"></i>
                                <%end%></td>  
                        </tr>
                    <% end %>    
                </table>
            </div>
        </div>
    </div>

<% else %>
    <div class="background-login"> 
        <%= render 'menu' %>
        <div class="login">
            <h1 id="welcome">Welcome!</h1>
            <h3 id="toContinue">Login to Continue</h3>
            <%= link_to "Sign Up", new_user_registration_path, id: "white"%>
            <%= link_to "Login", new_user_session_path, id: "white" %>
        </div>
    </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Todo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if user_signed_in? %>
                    <%= render 'form' %>
                <% end %>
            </div>
        </div>
    </div>
</div>