<div class = "text-center background-show">

    <%= render 'menu' %>

    <div class = "status-show" >
        <% if @item.completed %>
            <h2 id = "gold">Completed</h2>
        <% elsif @item.expiryDate != nil && @item.expiryDate < Date.today %> 
            <h2 id = "red">Expired</h2>
        <% else %>
            <h2 id= "blue">Ongoing</h2>
        <% end %>
    </div>
    <div class = "border-show">

        <%= form_for @item do |f| %>
            <h1><%= f.text_field :title, required: true, id: "form-border"%></h1>
            <p style="font-size:18px;"><%= f.text_area :description, id: "form-border"%></p>  
            <p><%= 'Category:' %>
                <%= f.text_field :category, id: "date-category" %>
            </p>
            <p><%= 'Expiry Date:' %>
                <%= f.date_field :expiryDate, id: "date-category"%>
            </p>
            <p><%= f.submit 'update'%></p>
        <% end %>
        
        <%= link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
</div>

