<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <% if current_user.present? %>
      <div class="menu">
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <% if user_signed_in? %>
                <%= link_to "TODO", root_path, id: "font-colour",  class: "navbar-brand" %>
                <%= link_to "Calendar", items_calendar_path, method: :get, id: "font-colour", class: "navbar-brand"  %>
              <% end %>
            </div>
            <div class="nav navbar-nav">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </nav>
      </div>
    <% end %>

    <!-- devise information 
    <div class="devise-form">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    -->

    <%= yield %>
  </body>
</html>
